
#grid {
  display: flex;
  flex-direction: column;
}

#row {
  display: flex;
  flex-direction: row;

  &> div {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    box-sizing: border-box;
  }
}
