@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font: 'Open Sans', sans-serif;


//Header
$header-background-color: #BFEFFF;
$header-background-image: url('../img/header-bg.jpg');


//Section
$section-background-color: #37180F;
$section-background-image: url('../img/section-bg.jpg');




//Pipe
$pipe-cross-background-image: url('../img/pipes/cross.png');
$pipe-line-vertical-background-image: url('../img/pipes/line-vertical.png');
$pipe-line-horizontal-background-image: url('../img/pipes/line-horizontal.png');
$pipe-t-top-background-image: url('../img/pipes/t-top.png');
$pipe-t-right-background-image: url('../img/pipes/t-right.png');
$pipe-t-bottom-background-image: url('../img/pipes/t-bottom.png');
$pipe-t-left-background-image: url('../img/pipes/t-left.png');
$pipe-curve-top-left-background-image: url('../img/pipes/curve-top-left.png');
$pipe-curve-top-right-background-image: url('../img/pipes/curve-top-right.png');
$pipe-curve-bottom-right-background-image: url('../img/pipes/curve-bottom-right.png');
$pipe-curve-bottom-left-background-image: url('../img/pipes/curve-bottom-left.png');
$pipe-end-top-background-image: url('../img/pipes/end-top.png');
$pipe-end-right-background-image: url('../img/pipes/end-right.png');
$pipe-end-bottom-background-image: url('../img/pipes/end-bottom.png');
$pipe-end-left-background-image: url('../img/pipes/end-left.png');
$pipe-beggining-background-image: url('../img/pipes/beggining.png');
$pipe-goal-background-image: url('../img/pipes/goal.png');
