@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font: 'Open Sans', sans-serif;


//Header
$header-background-color: #BFEFFF;
$header-background-image: url('../img/header-bg.jpg');


//Section
$section-background-color: #37180F;
$section-background-image: url('../img/section-bg.jpg');




//Pipe
